fastapi
websockets
websocket-client
uvicorn
python-multipart
python-dotenv
# Core RAG
llama-index-core
llama-index-vector-stores-qdrant
llama-index-embeddings-huggingface
llama-index-llms-ollama==0.1.5
ollama
# Pinning
transformers>=4.40.0
sentence-transformers==2.7.0
qdrant-client==1.9.1
pymupdf
google-api-python-client
google-auth-oauthlib
google-auth
google-auth-httplib2
celery==5.4.0
redis==5.0.4
playwright
